@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply font-sans text-3xl font-bold mb-4
}

p{
    @apply font-serif leading-tight mb-3 -ml-3
}

li{
    @apply font-sans text-sm  text-sm italic
}
