.table th, .table td{
    /* border border-gray-300 px-4 py-2 */
    @apply border border-gray-400 px-4 py-2;
}


.table th {
    @apply text-gray-800;
}

.table tbody tr:nth-child(2n+1) {
    /* @apply hover:bg-gray-200; */
    @apply bg-gray-200;
}